@font-face {
  font-family: Fsjoey;
  src: url(../../assets/font/FSJoeyTrial-Bold.otf);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  height: 100%;
}
body {
  position: relative;
  width: 100%;
  background: url(../../assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  height: 100%;
  color: #eee;
  margin: 0;
  overflow: hidden;
  font-family: Fsjoey !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  color: #DA2020;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #D6F300;
}
h1 {
  text-shadow: 2px 3px 3px #555;
  text-align: center;
  margin: 30px auto;
  margin-bottom: 34px;
}
#wrap {
  /* width: 980px; */
  /* left: -490px; */
  /* margin-left: 50%; */
  position: relative;
  transform: scale(0.7); /*you didn't have the semi-colons here*/
-ms-transform: scale(0.7);
-webkit-transform: scale(0.7);
-moz-transform: scale(0.7);
-o-transform: scale(0.7);
  bottom: 3vw;
}

#showcase {
  width: 100%;
  height: 72vw;
  visibility: hidden;
}
#showcase img {
  cursor: pointer;
  height: 50vw;
}
#item-title {
  color: #F31414;
  font-size: 29px;
  letter-spacing: 0.13em;
  text-shadow: 1px 1px 6px #C72B2B;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 22px;
}
.nav {
  text-align: center;
  display: none;
}

#get {
  font-size: 20px;
  text-align: center;
}
#download {
  margin: 8px auto;
  margin-top: 12px;
  display: block;
}
#license {
  font-size: 18px;
  text-align: center;
  margin: 0;
}
#share {
  position: absolute;
  left: 4px;
  top: 478px;
}
.fb-like {
  vertical-align: top;
}
.twitter-share-button {
  width: 84px !important;
  margin-left: 8px;
}

.nav .left {
  background: url(../../assets/img/left.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 10vw;
  width: 20vw;
  border: 0px;
  margin-right: 5%;
}

.nav .right {
  background: url(../../assets/img/right.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 10vw;
  width: 20vw;
  border: 0px;
  margin-left: 5%;
}

#credits {
  color: #c9c9c9;
  padding: 10px;
  border: 2px #999 dashed;
  position: absolute;
  right: 0;
  bottom: 83px;
}
#credits ul {
  font-size: 14px;
  list-style-type: none;
  padding-left: 2px;
  margin: 2px 0;
}
#credits .author {
  color: white;
}

.logo {
  display: flex;
}

.logo img {
  /* padding-top: 5%; */
  margin: 0 auto;
  object-fit: contain;
  height: 30vw;

}


.btn-white {
  background: url(../../assets/img/bg-btn.png);
  padding: 1.5vw 10vw 2.5vw;
  border: 0px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 5vw;
  cursor: pointer;
  font-family: Fsjoey !important;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


