@font-face {
    font-family: Fsjoey;
    src: url(../../assets/font/FSJoeyTrial-Bold.otf);
}

body {
    font-family: Fsjoey;
    overflow: hidden !important;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.off-overflow {
    overflow: scroll !important;
}

.wdt-1024 {
    width: 1024px !important;
    height: 1024px !important;
}

h1 {
    font-size: 16vw;
}



.logo {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 0%;
}

.logo img {
    height: 30vw;
    object-fit: contain;
}

.btn-white {
    background: url(../../assets/img/bg-btn.png);
    padding: 0.5vw 12vw 1.5vw 12vw;
    border: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 5vw;
    margin-top: 5%;
    margin-bottom: 10%;
    cursor: pointer;
}


.makasih {
    margin-bottom: 5%;
}

.makasih img {
    height: 40vw !important;
    object-fit: contain;
}


.quote {
    padding-top: 5%;
    padding-bottom: 5%;
}

.quote p {
    padding: 0px;
    margin: 0px;
    font-size: 3vw;
}


.footer {
    padding: 0px;
}



.orange-donate {
    background: url(../../assets/img/kranjang.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 40vw;
    padding-bottom: 25vw;
    background-position: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 5vw;
}



.orange-donate input {
    width: 80%;
    border: 0px;
    padding: 2.5vw 7vw;
    background: url(../../assets/img/input.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 18vw;
    font-size: 4vw;
}

.orange-donate input::placeholder {
    color: #c2c5c5;
    text-align: center;
}

.bag {
    margin-top: 10%;
}

.bag img {
    height: 55vw;
    object-fit: contain;
}

.is-bag {
    padding-bottom: 50%;
}


/* myslide */

.myslide {
    position: relative;
    width: 100%;
    padding-bottom: 20%;
    min-height: 60vw !important;
}


.myslide .slide-item {
    margin-left: 10%;
    margin-right: 10%;
}



.myslide .slide-item img {
    width: 35vw;
    object-fit: contain;
    filter: blur(3px);
  -webkit-filter: blur(3px);
}

.myslide .slide-item.active {
    position: absolute;
    z-index: 999;
    margin: 0%;
    top: 5%;
}

.myslide .slide-item.active img {
    filter: blur(0px) !important;
  -webkit-filter: blur(0px)!important;
  width: 50vw;
}

.arrows a img {
    width: 50vw;
    padding: 0 30%;
}


/* grids */

.full-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../assets/img/f-bg.jpg);
    background-repeat:  no-repeat;
    background-size: 100%;
}

.full-bg .t-logo img {
    height: 15vw;
    position: relative;
    margin-top: 10vw;
    object-fit: contain;
    margin-bottom: 3vw;
}


.__grd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column-reverse;
    position: relative;
    padding-bottom: 80px;
}


.grid-container {
    display: inline-grid;
    grid-template-columns:auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 0.5vw 1vw;
    margin: 0 auto;
  }
  
  .grid-item {
    align-content: center;
    align-items: center;
    font-size: 1.3vw;
    text-align: center;
    width: 8.5vw;
    height: 8vw;
    padding-top: 5.7vw;
  }

.grid-item:nth-child(2n+0) {
    position: relative;
    top: 2vw;
}


/* .grid-item:nth-child(3n) {
    position: relative;
    top: 8vw;
} */

  .grid-item img {
      width: 3.7vw;
      /* object-fit: contain; */
  }



  /* animated */

  .anim-right {
    animation-name: rights;
    animation-duration: 1s;
    position: relative;
  }

  .anim-left{
    animation-name: lefts;
    animation-duration: 1s;
  }

  .to-left {
      position: relative;
    animation-name: islefts;
    animation-duration: 1s;
  }

  .to-right {
      position: relative;
    animation-name: isright;
    animation-duration: 1s;
  }

  @keyframes rights {
    0%   {right: -5%;}

    100% {right: 0%;}
  }


  @keyframes lefts {
    0%{   left: 15%;
          /* opacity: 0; */
          filter: blur(3px);
          -webkit-filter: blur(3px);
      }
    100%{
        left: 25%;
        /* opacity: 1; */
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }

  }


  @keyframes islefts {
    0%   {left: -5%;}
    100% {left: 0%;}
  }

  @keyframes isright {
    0%   {
            right:15%;
            filter: blur(3px);
            -webkit-filter: blur(3px);
        }
    100%{   right:25%;
            filter: blur(0px);
            -webkit-filter: blur(0px);}
  }



  .ico-hijau {
      background: url(../../assets/img/k-hijau.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
  }

  .ico-ungu {
    background: url(../../assets/img/k-ungu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ico-kuning {
    background: url(../../assets/img/k-kuning.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.overflow {
    position: absolute;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background: #0000008f;
}


.o-logo img {
    width: 50%;
    object-fit: contain;
}

.overflow .btn-white {
    background: url(../../assets/img/bg-btn.png);
    padding: 0.5vw 7vw 1.5vw 7vw;
    border: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size:2vw;
    margin-top: 5%;
    margin-bottom: 10%;
    cursor: pointer;
}

.hidden {
    overflow: hidden;
}


.screenserver {
    position: absolute;
    z-index: 99999999;
    width: 100%;
    background: url(../../assets/img/bg.jpg);
    display: none !important;
    background-size: 100% 100%;
    height: 100vw;
    background-repeat: no-repeat;
    top: 0;
}

.mt-logo img {
    height: 25vw;
    object-fit: contain;
    margin-bottom: 5vw;
}

.barcode {
    margin-bottom: 9vw;
}

.barcode img {
    height: 30vw;
    object-fit: contain;
    background: white;
    padding: 1vw;
    border-radius: 3vw;
}

.s-quote h2 {
    font-size: 4.5vw;
}

.screenserver.show {
    display: flex !important;
    animation-name: shows;
    animation-duration: 2s;
}

@keyframes shows {
    0%{  
        opacity: 0;
        z-index: 9999999;
      }
    100%{
        opacity: 1;
        z-index: 9999999;
    }

  }


  .m-ungu-donate {
    background: url(../../assets/img/parcelungu.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 40vw;
    padding-bottom: 25vw;
    background-position: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 5vw;
}

.m-kuning-donate {
    background: url(../../assets/img/parcelkuning.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 40vw;
    padding-bottom: 25vw;
    background-position: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 5vw;
}

.m-hijau-donate {
    background: url(../../assets/img/parcelhijau.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 40vw;
    padding-bottom: 25vw;
    background-position: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 5vw;
}


.m-kuning-donate input,.m-hijau-donate input,.m-ungu-donate input {
    width: 80%;
    border: 0px;
    padding: 1.5vw 4vw;
    background: url(../../assets/img/input.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 7vw;
    font-size: 2.3vw;
}

.m-kuning-donate input::placeholder,.m-hijau-donate input::placeholder,.m-ungu-donate input::placeholder {
    color: #c2c5c5;
    text-align: center;
}

/* responsive */
/* 
@media only screen and (min-device-width: 641px) and (max-device-width: 1024px) and (orientation : portrait) {

    body{
        overflow: hidden;
    }

    .bg-full {
        background-position: center;
    }

    .logo {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 8%;
    }


    .bag {
        margin-top: 10%;
        margin-bottom: 0%;
    }

    .logo img {
        width: 60%;
        height: 35vw;
    }

    .myslide .slide-item img {
        width: 25vw;
    }

    .myslide .slide-item.active img {
        width: 35vw;
    }

    .myslide {
        position: relative;
        width: 100%;
        padding-bottom: 0%;
        min-height: 30vw !important;
    }

    .arrows {
        padding-top: 5vw;
    }

    .arrows a img {
        width: 20vw;
        padding: 0px 10%;
    }

    .btn-white {
        background: url(../../assets/img/bg-btn.png);
        padding: 0.5vw 12vw 1.5vw 12vw;
        border: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-size: 5vw;
        margin-top: 5%;
        margin-bottom: 10%;
        cursor: pointer;
    }

    .footer {
        padding-top: 0%;
        padding-bottom: 0%;
    }


    @keyframes isright {
        0%   {
                right:15%;
                filter: blur(3px);
                -webkit-filter: blur(3px);
            }
        100%{   right:32%;
                filter: blur(0px);
                -webkit-filter: blur(0px);}
      } */


      /* @keyframes lefts {
        0%{   left: 15%;
              opacity: 0;
              filter: blur(3px);
              -webkit-filter: blur(3px);
          }
        100%{
            left: 33%;
            opacity: 1;
            filter: blur(0px);
            -webkit-filter: blur(0px);
        }
    
      } */


      /* .orange-donate {
        background: url(../../assets/img/kranjang.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 23vw;
        background-position: center;
        width: 80%;
        padding-left: 7%;
        padding-right: 7%;
        font-size: 1.5vw;
        margin-top: -10vw;
    }

    .orange-donate input {
        width: 50%;
        border: 0px;
        padding: 1vw 2.8vw;
        background: url(../../assets/img/input.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-size: 2.8vw;
        position: relative;
        top: 20vw;
    }

    .quote {
        padding-bottom: 0%;
    }

    h1 {
        font-size: 12vw;
    }

    .quote p {
        padding: 0px;
        margin: 0px;
        font-size: 3vw;
    }

    .bag img {
        height: 45vw;
        object-fit: contain;
    }

    .is-bag {
        padding-bottom: 24%;
    }


    .btns{
        padding-bottom: 15%;
    }

    .mbs-0 {
        margin-bottom: 0px;
    }

    .makasih {
        margin-top: -10%;
        padding-bottom: 5%;
    }


    .m-ungu-donate,.m-kuning-donate,.m-hijau-donate {
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 23vw;
        background-position: center;
        width: 80%;
        padding-left: 7%;
        padding-right: 7%;
        font-size: 1.5vw;
        margin-top: -10vw;
    }

    .m-kuning-donate input,.m-hijau-donate input,.m-ungu-donate input {
        width: 50%;
        border: 0px;
        padding: 1vw 2.8vw;
        background: url(../../assets/img/input.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-size: 2.8vw;
        position: relative;
        top: 20vw;
    }

}  */


